/* css file for budget page */

/* work on the styling  @developerRuq @Goldin @thrive */

.budget-logo{
  margin-left: -10%;
  width: 150px;
  height: auto;
}
.side-pane{
  margin-top: 2%;
  padding-left: 2%;
}
.budget-board{
  background: linear-gradient(180deg, #3264b0 0%, #438afc 92.12%);
  padding: 50px;
}
.budget-panel{
  padding-top: 40px;
}
h3{
  color: #fff;
  font-weight: 600;
  font-size: 210%;
  text-decoration: bolder;
}
.name-tag{
  background-color: #fff;
  color: #000;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
}
.user-img{
  width: 30px;
  height: auto;
  border-radius: 50%;

}
.card{
  border-radius: 15px;
  width: 120%;
  padding: 10px;
}
.history-card{
  margin: auto;
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
}
h5{
  font-weight: 600;
  margin-left: 20px;
  color: linear-gradient(180deg, #3264b0 0%, #438afc 92.12%) !important;
  font-size: 180%;

}
.naira-symbol{
  width: 40px;
  height: auto;
}
.submit-btn{
  background: linear-gradient(180deg, #3264b0 0%, #438afc 92.12%) !important;
  border-radius: 30px;
  font-weight: 600;
}
.priority{
  font-size: 12px;
}
.budget-list-card{
  padding-left: 10%;
  padding-right: 10%;

}
.budget-icon{
  background: linear-gradient(180deg, #3264b0 0%, #438afc 92.12%);
  border-radius: 50%;
  padding: 6px;
  text-transform: uppercase;
}
th{
  color: linear-gradient(180deg, #3264b0 0%, #438afc 92.12%);
  text-transform: uppercase !important;
  font-weight: 600;
}
li{
  list-style: none;
}
.dashboard_icon{
  width: 20px;
  height: auto;
  filter: grayscale(1);
}
.dashboard_link{
  text-decoration: none;
  color: #777;
  font-weight: 600;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}
.active, .dashboard_link:hover{
  text-decoration: none;
  border-bottom: 2px solid #3264b0;

}
.small_link{
  margin-left: 30px !important;
}
.dashboad_nav li{
  line-height: 1.9;
}

#budgetResponseMessage, #expenseResponseMessage{
  color: red;
  font-size: 10px;
}
#addedExpenseResponseMessage, #addedBudgetResponseMessage{
  color: green;
  font-size: 10px;
}

/* end of css for navbar */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-image {
  width: 180px;
  /* height: 66px; */

  overflow: hidden;
  margin-top: -6px;
}

body {
  font-family: sans-serif;
}

nav {
  background: rgb(255, 255, 255);
  padding: 0px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: rgb(63, 99, 197);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

.logo a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* tablet menu */

@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7px 15px;
    background: rgb(63, 99, 197);
    border: 1px solid rgb(63, 99, 197);
    color: white;
    border-radius: 50em;
    text-decoration: none;
  }

  .button.secondary a {
    background: transparent;
    color: rgb(63, 99, 197);
  }

  .button a:hover {
    transition: all 0.25s;
  }

  .button:not(.secondary) a:hover {
    background: rgb(63, 99, 197);
    border-color: rgb(89, 118, 197);
  }
}

@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}
