body{
  background : url("wall2.png");
  background-repeat: no-repeat;
   background-size: auto;
   background-position: center center;"

}
li{
  display: inline-block;
}

li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 125%;
  margin-right: 2em;
  line-height: 28px;
  color: #606062;
}

.sign-in{
  border-bottom: 3px solid #3264B0;
}

input[type = "text"],input[type = "password"]{
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-radius: 24.5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
